<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %> <%= locals.type %></title>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include('partials/navbar'); %>
    <h1><%= locals.title %> <%= locals.type %></h1>
    <form action="<%= locals.route %>" method="post">
        <% if (locals.errors) { %>
            <ul>
                <% errors.forEach(err => { %>
                    <li><%= err.msg %></li>
                <% }); %>
            </ul>
        <% } %>
        <div class="form-row">
            <label for="<%= locals.type %>"><%= locals.type %></label>
            <input type="text" name="<%= locals.type %>" id="<%= locals.type %>">
        </div>
        <% if (title === "Add") { %>
        <button type="submit">Add</button>
        <% } else { %>
        <button type="submit">Update</button>
        <% } %>
    </form>
</body>
</html>