<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %> <%= locals.type %></title>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include('partials/navbar'); %>
    <% if (locals.prevFolder) { %>
        <a href="/folders/<%= locals.prevFolder %>">Back</a>
    <% } %>
    <h1><%= locals.title %> <%= locals.type %></h1>
    <% if (locals.title === "Add" && locals.type === "file") { %>
        <form action="<%= locals.route %>" enctype="multipart/form-data" method="post">
            <% if (locals.errors) { %>
                <ul>
                    <% errors.forEach(err => { %>
                        <li><%= err.msg %></li>
                    <% }); %>
                </ul>
            <% } %>
            <div class="form-row">
                <label for="upload_file">Attach file:</label>
                <input type="file" name="upload_file" id="upload_file">
            </div>
            <button type="submit">Add</button>
        </form>
    <% } else { %>
        <form action="<%= locals.route %>" method="post">
            <% if (locals.errors) { %>
                <ul>
                    <% errors.forEach(err => { %>
                        <li><%= err.msg %></li>
                    <% }); %>
                </ul>
            <% } %>
            <div class="form-row">
                <label for="<%= locals.type %>"><%= locals.type %></label>
                <% if (locals.foldername) { %>
                    <input type="text" name="<%= locals.type %>" id="<%= locals.type %>" value="<%= locals.foldername %>">
                <% } else { %>
                    <input type="text" name="<%= locals.type %>" id="<%= locals.type %>" value="<%= locals.filename %>">
                <% } %>
            </div>
            <% if (locals.title === "Add") { %>
                <button type="submit">Add</button>
            <% } else { %>
                <button type="submit">Update</button>
            <% } %>
        </form>
    <% } %>
</body>
</html>